body, html {
  margin: 0;
  padding: 0;
}


/* colors */
:root {
  --main-red: #fa6d8b;
  --main-red-rgb: 250, 109, 139; /* RGB equivalent of #fa6d8b */
  --color-ui-red: #C80F50;
  --color-ui-red-rgb: 200, 15, 80; /* RGB equivalent of #C80F50 */
  --dark-red-1: #DE4E6D;
  --dark-red-1-rgb: 222, 78, 109; /* RGB equivalent of #DE4E6D */
  --dark-red-2: #C80F50;
  --dark-red-2-rgb: 200, 15, 80; /* RGB equivalent of #C80F50 */
  --light-red-2: #FBBAC8;
  --light-red-2-rgb: 251, 186, 200; /* RGB equivalent of #FBBAC8 */
  --light-red-1: #FF92AA;
  --light-red-1-rgb: 255, 146, 170; /* RGB equivalent of #FF92AA */

  --gray-1: #f2f6fd;
  --gray-2: #e1edfc;
  --gray-2-rgb: 225, 237, 252; /* RGB equivalent of #e1edfc */
  --gray-3: #a7bcd7;
  --gray-3-rgb: 167, 188, 215; /* RGB equivalent of #a7bcd7 */
  --gray-4: #587292;
  --gray-4-rgb: 88, 114, 146; /* RGB equivalent of #587292 */
  --gray-5: #2a2f3d;
  --color-text-normal: var(--gray-4);

  --color-ui-purple: #D48DFA;
  --color-ui-purple-rgb: 212, 141, 250; /* RGB equivalent of #D48DFA */
  --light-purple-1: #F0D7FE;
  --light-purple-1-rgb: 240, 215, 254; /* RGB equivalent of #F0D7FE */
  --light-purple-2: #E6BAFE;
  --light-purple-2-rgb: 230, 186, 254; /* RGB equivalent of #E6BAFE */

  --nav-bar-height: 85px;
}


/* general purpose elements */

h1 {
  color: var(--main-red);
}

h2 {
  color: var(--light-red-1);
}

h3 {
  color: var(--light-red-1);
}

h4 {
  color: var(--light-red-1);
}

._flx {
  display: flex;
}

._flx-1 {
  flex: 1;
}

._table {
  padding: 40px 15px;
  padding-top: 80px;
}

._cell {
  display: inline-block;
  padding: 15px 12px;
}

._text {
  vertical-align: middle;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 500;
  color: #587292;
}

body {
  font-family: "Open Sans",  Arial, sans-serif;
  color: var(--color-text-normal);
  margin: 0;
  padding: 0;
  background-color: var(--gray-1);
}

#content-wrapper {
  overflow: auto;
  height: calc(100vh - 85px);
  padding: 0 200px;
}
.navbar {
  /*top: 40px;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(var(--gray-4-rgb), 0.2);
  z-index: 1000;
  position:sticky;
  top:0;
  left:0;
}
.navbar img {
  height: 40px;
  margin: 0 20px;
  transition: transform .2s ease-in-out;
  
}
.navbar img:hover {
  transform: scale(1.03);
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar li {
  position: relative;
  align-content: center;
  height: var(--nav-bar-height);
}
.navbar a {
  text-decoration: none;
  display: block;
  color: var(--color-text-normal);
  height: var(--nav-bar-height);
  align-content: center;
  text-align: center;
}
.navbar li > a{
  width: 7rem;
}
.navbar li:hover {
  background-color: var(--gray-2);
  border-radius: 5px;
}
.navbar a.active {
  background-color: var(--gray-2);
  color: black;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdown-content a {
  text-decoration: none;
  display: block;
  height: 50px;
}
.dropdown-content a:hover {
  background-color: var(--gray-2);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.content {
  display: block;
  padding: 25px 45px 20px 40px;
}

.code-block {
  width: fit-content;
  position: relative;
  background-color: rgba(var(--light-red-2-rgb), 0.2);
  &:hover{
    background-color: rgba(var(--light-red-2-rgb), 0.3);
  }
  border-radius: .25rem;
  font-family: monospace;
  padding: .125rem 1.25rem;
  font-size: .9em;
  font-weight: inherit;
}

pre {
  
  code.language-http{
    span.token.method{
        color: var(--color-ui-purple);
    }
  }
  code.language-json {
    white-space: pre-line !important;
    
    span.token.property{
      padding-left: 20px;
    }
  }
}

code {
  border-radius: .25rem;
  font-family: monospace;
  --tw-ring-inset: inset;
  font-size: .9em;
  font-weight: inherit;
  background-color: var(--gray-4);
  color: white;
  padding: 4px;

  .hljs-variable
  {
    color: var(--light-red-2)
  }
}
.hq-table-container{
  table{
    border-spacing: 10px;
    padding: 7px;
    background-color: var(--gray-5);
    *{
      color: white;
      text-align: left;
    }
    .http-method{
      color: var(--light-red-2);
    }
  }
}
.code-container{
  position: relative;
  display: inline-block;
  *{
    user-select: none;
  }
  &:hover {
    cursor: pointer;
    .copy-button{
      visibility: visible;
    }
  }
  pre {
    background-color: var(--gray-5) !important;
    &:active{
      background-color: var(--gray-4) !important;
    }
  }
  
  .copy-button {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 9px;
    background-color: var(--gray-5);
    color: var(--light-red-2);
    border: none;
    padding: 20px 15px;
    cursor: pointer;
    font-size: 13px;
    &:hover{
      background-color: #0056b3;
    }
  }
}
  
.copy-button i {
  margin-left: 5px;
}
.code-block:hover .copy-button {
  display: flex;
}


/* fixed purpose elements */

.portal {
  text-decoration: none;
}

.header {
  margin: 0 auto;
}

.nav {}

.rule {
  margin-top: 15px;
  height: 0;
  border: 0;
  border-top: 1px solid #AFAFC3;
}

.logo {
  vertical-align: middle;
  height: 55px;
  transform: translateY(-5px);
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
}

.tab,
.tab:link,
.tab:visited {
  text-decoration: none;
  margin-bottom: 7px;
  cursor: pointer;
}

.tab:hover{
  border-radius: 12px;
  box-shadow: 0 0 11px rgb(33 33 33 / 20%)
}

/* fixed purpose modifiers */

.--active,
.--active:link,
.--active:hover,
.--active:active,
.--active:visited {
  font-weight: 600;
}

/* footer */

._footer {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans';
  color: var(--main-red);
  text-align: center;
  margin-bottom: 12px;
}

._footer a {
  font-weight: 400;
  color: var(--main-red);
  text-decoration: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.table-wrapper {
  background-color: var(--gray-2);
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  table {
    display: table;
    border-spacing: 0;
    text-align: center;

    th {
      border-bottom: 1px solid var(--gray-5);
    }

    td {
      padding: 5px 10px;
    }

    td + td {
      border-left: 1px solid var(--gray-5);
    }
  }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#v1_endpoints,
#v2_endpoints {
  pre{
    background: none;
  }
  max-width: 1460px;
  margin: auto;
  background: var(--gray-2);
  border: 1px solid var(--gray-4);
}

/* swagger sytling */

/* Overerwride header and remove shadows, boarders and replace background */
.swagger-ui .scheme-container {
  background: var(--gray-2);
  margin: 0 0 20px;
}